//Rename this to .env 
//Input should have no space
//Delete 'TypeUserNameHere' then replace it with your username/email. Same as others
//Ex. User=BotSplinter5

User=TypeUserNameHere
Posting_key=TypePostingKeyHere
Battles_To_Surrender=TypeHowManyBattlesYouWantToLoopHere